/* загальні стилі */
:root{
    --paragraph-color:#757575;
    --title-color:#212121;
    --background-color:#ffffff;
    --accent-color: #2196F3;
     --second-background-color:#2F303A;
}
body {
font-family:'Roboto','Raleway','sans-serif';
background-color:var(--background-color);
    color:var(--paragraph-color);
}
/* колір секції героя та підвалу #2F303A; */
/* колір заголовків #212121 */
/* колір техту та інтерактивного тексту(без фок. та хов.) #757575 */
/* колір наведення, фокусу, кнопки #2196F3; */
.link {
    text-decoration: none;

}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color:var(--accent-color);
        text-decoration: none;
}
.black-logo {
    color:#000000;
}
.white-logo {
  color: #ffffff;  
}
.nav {
    font-weight: 500;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.02em;
        color: #212121;
    text-decoration: none;
        
}
.nav.current {
    color: var(--accent-color);
}
.nav.contacts {
    color:var(--paragraph-color); 
}
.nav.contacts:hover,
.nav.contacts:focus {
    color: var(--accent-color);
}

.bottom-section {
    background-color:var(--second-background-color);
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.address-contacts:hover,
.address-contacts:focus {
    color: var(--accent-color);
}
/* main студия*/
.hero {
    background-color:var(--second-background-color);
        
}
.hero-title {
    color: #ffffff;
    font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
    
}
.hero-button {
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}

.section-title {
color:var(--title-color);
font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
}
.features {
    font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;

}
.features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-transform: uppercase;
        color: var(--title-color);
}
.team-section {
    background-color: #F5F4FA;;
}


.team {
        font-size: 16px;
        line-height:calc(19/16);
        letter-spacing: 0.03em;
        color: var(--paragraph-color);
        background-color: #FFFFFF;
}
.team-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
   
}
/* портфоліо */
.project-link {
    font-size: 16px;
line-height:calc(30/16);
letter-spacing: 0.03em;
color: var(--paragraph-color);
text-decoration: none;
}

.project-title {

    font-weight: 700;
    font-size: 18px;
    line-height:calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
        font-size: 16px;
        line-height:calc(26/16);
        letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--title-color);
    border: none;
}
.filter:hover,
.filter:focus {
    background-color:#2196F3;
    color: #ffffff;
}
.current2 {
background-color: #2196F3;
color: #FFFFFF;
}
